body{
    font-family: Sans-serif;
}

h1{
       position: relative;
        transform: translate(-50%);
        margin-left: 50%;
        line-height: 100px;
        text-align: center;
        font-size: 50px;
        background-color: black;
        color: white;
        height: 100px;
        opacity: 80%;
        top:-40px;
        width: 110%;

}

.courses{
    display:grid;
    grid-template-columns: 33% 34% 33%;
    position: relative;
    transform: translate(-50%);
    margin-left: 50%;
}

.course{
     margin: 10%;
     text-align: center;
}

.icon{
        width: 100%;
        border-radius: 50%;
        object-fit:cover;
        border: none;
        aspect-ratio: 1 / 1;
}

.icon:hover{
    transform: scale(1.05);
}

.table{
    display:grid;
    grid-template-columns: 25% 25%;
    position: relative;
    transform:translate(20%);
    column-gap: 10%;
    row-gap: 5%;
    text-align: center;
}
